<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
	<h3>profile</h3>
	<form th:action="@{'/profile' + ${userProfile.user.userid} + '/update'}" th:object="${profileForm}" method="POST">
		<table>
			<tr>
				<input type="hidden" th:field="*{userid}" th:value="${userProfile.user.userId}" />
				<input type="text" th:field= "*{nickname}" th:value="${userProfile.nickname}" />
			</tr>
			<input type ="submit" value ="プロフィール更新">
		</table>
	</form>
	<a href="@{'/rooms/' + ${user.userid}}">index</a>
</body>
</html>